
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
</head>
<body>
    <h3>User List</h3>
    <!-- <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form> -->
    {% for user in users %}
    <h3>{{user.id}}</h3>
    <h4 class="card-title">{{ user.first_name }} {{user.last_name}}</h4>
    <h5>{{ user.email }}</h5>
    <h5>{{user.contact}}</h5>

    {% endfor %}
    
</body>
</html>